@tailwind base;
@tailwind components;
@tailwind utilities;

.mantine-Button-root {
  background-color: var(--button-bg, #1971c2);
}

.mantine-Button-root:hover {
  background-color: var(--button-hover, #1864AB) !important;
}

.mantine-Pagination-control[data-active] {
  @apply bg-primary !important;
}

.mantine-Tabs-tab[data-active] {
  background-color: var(--_tab-bg);
}

.mantine-UnstyledButton-root:hover {
  background-color: #383a40;
}
